.header-link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: gray;
}

.header-link:focus {
    text-decoration: underline;
    color: blue;
}


#catagories-container .catagories-item a {
    text-decoration: none;
}

.news-item {
    margin: 40px;
}